*{
  padding:  0px ;
  margin : 0px ;
  box-sizing : border-box ;
}
:root {
  --main-c : #343a40 ;
  --second-c : #495057 ;
  --third-c : #495057 ;
  --background : #212529 ;
  --text : #adb5bd ;
  --txt : #495057 ;
}
body {
  height : 100vh ;
  background : var(--main-c) ;
  transition-duration: .2s ;
}
main {
  height : 100% ;
}
body , div , main , p , label{
  width : 100% ;
  display : flex ;
  flex-direction : column ;
  align-items : center ;
  justify-content: center ;
}
p{
  font-size : 15px ;
  font-family : monospace ;
  font-weight : 100 ;
  color : var(--text) ;
  transition-duration: .3s ;
}
p:hover {
  cursor : pointer ;
}
@media only screen and (max-width : 1000px) {
  p{
    font-size : 12px
  }
}
/* */

#display {
  height : 80vh ;
  width : 90% ;
  transform : translateY(-5%) ;
}
@media only screen and (max-width : 1000px ){
  #display {
    height : 99vh ;
    width : 99% ;
    transform : none ;
    -webkit-transform : none ;
  }
}
#display #ca_ntainer {
  height : 93% ;
  width : 100% ;
  display: flex ;
  align-items: unset ;
  justify-content: unset ;
  flex-direction: unset ;
  background-color : var(--background) ;
}

/* */

#menu {
  position : absolute ; 
  width : 20em ;
  height : 50vh ;
  background : var(--main-c) ;
  justify-content: flex-start ;
  border : 1px solid var(--second-c)
}
@media only screen and (max-width : 1000px) {
  #menu {
    width : 15em ;
    height : 80vh ;
  }
}

#menu div:nth-child(1){
  height : 10% ;
  align-items: flex-end;
  border-bottom: 1px solid var(--second-c);
}
#menu div:nth-child(1):hover {
  cursor : move 
}
#menu div:nth-child(1) > div {
  height : 100% ;
  max-width : 60% ;
  flex-direction : row ;
  border : none
}
#menu div:nth-child(1) > div p{
  height : 100% ;
}
#menu div:nth-child(1) > div p:hover {
  color : #fff ;
}
#menu div:nth-child(2){
  justify-content: flex-start ;
  max-height : 90% ;
  overflow-y : scroll ;
}

#menu div:nth-child(2) > p:not(#menu div:nth-child(2) > p:nth-child(1)){
  min-height : 8vh ;
  border-top : 1px solid var(--second-c) ;
}
#menu div:nth-child(2) > p:not(#menu div:nth-child(2) > p:nth-child(1)):hover{
  background : rgba(30,30,30,0.1)
}
#menu div:nth-child(2) > p:nth-child(1){
  min-height : 10vh ;
  color : var(--txt) ;
}
#menu div:nth-child(2) > p:nth-child(1):hover{
  background : unset ;
  cursor : move 
}
/* */

label {
  min-height : 6vh ;
  width : 90% ;
  border : 1px solid var(--second-c) ;
  margin : 1em 0 ;
}
#input {
  transform : translateX(-50%) ;
  display : none ;
}
/* */

#audio_player {
  height : 7% ;
  transition-duration: 2s ;
}

#audio_player audio {
  position : absolute ;
  display : none ;
}
#audio_player > div {
  height : 100% ;
  width : 80% ;
  flex-direction : row ;
  justify-content: space-around ;
}
#audio_player > div > p {
  width : 5em ;
  height : 100% ;
  font-size: 11px ;
  font-weight : 900 ;
  color : var(--txt)
}
#audio_player > div > p:hover {
  color : var(--text)
}
#audio_player > div > .s_track {
  width : 60% ;
  align-items: flex-start ;
}
#audio_player > div > .s_track ,
#audio_player > div > .v_track {
  height : .7em ;
  border : 1px solid var(--third-c) ;
  background : var(--third-c)
}
#audio_player > div > .v_track {
  width : 20% ;
  height : 1px ;
  border-top : none ;
  align-items: flex-end ;
}
#audio_player > div > .s_track > div {
  height : 100% ;
  background : var(--main-c) ;
  border-right : 3px solid var(--txt) ;
  transition-duration : .1s ;
  width : 0% ;
}
#audio_player > div > .v_track > div{
  position: absolute ;
  width : 5px ;
  height : .8em ;
  background : var(--txt) ;
}
#audio_player > div > .v_track > div:hover {
  cursor : pointer
}
/* */

#mobile_notif{
  position: absolute ;
  height : 100vh ;
  width : 100vw ;
  z-index: 100 ;
  background : var(--main-c) ;
}
#mobile_notif > div {
  height : auto ;
  width : 90% ;
  row-gap : 10em ;
}
#mobile_notif > div > p{
  max-width : 80% ;
  text-align: center ;
  line-height: 2em ;
  font-size: 3em ;
}
#mobile_notif .rot_p {
  font-size: 16px ;
}
#mobile_notif > div > button {
  width : 50% ;
  height : 3.5em ;
  color : var(--second-c) ;
  background : var(--text) ;
  font-size: 2em ;
  border-radius: .8m ;
}